li a{
  
    float: left;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    margin-left: 50px;

}
 ul li{
     display: inline;
     padding-left: 50px;
     
      }

      .nav{
          background-color:#333;
          height: 50px;
          
      }
      .active{
          background-color:grey;
          
      }
    .bg-image{
       
        background-image:url(images/b7.webp);
        height: 500px;
        background-repeat: no-repeat;
        background-size: cover;
        
    }

   
