li a{
    /* text-decoration: none;
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 10px;
    color: #f2f2f2;
    margin-left: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger; */
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-left: 50px;

}
 ul li{
     display: inline;
     padding-left: 50px;
     
      }

      .nav{
          background-color:#333;
          height: 50px;
          
      }
      .active{
          background-color:grey;
          
      }
 